<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
   <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
                   <% if(!isLoggedIn){ %>
                    <li><a href="/auth/facebook">Sign in with Facebook</a></li><% }
                    
                    else { %>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle loggedInDropDown"> Welcome <%= user.name.split(' ')[0] %> <img class="img img-circle nav-user-img" src="<%= user.photo %>" alt=""> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
            <li><a href="/profile">Profile</a></li>
            <li><a href="#">Log out</a></li>
                        </ul>
                    </li> <% } %>
                </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </header>
    
    <div class="agpcontainer">
        <section id="ef-effects" class="page">
            <div class="ef-inner">
               <div class="row">
<div class="btn-group">
    <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Types <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">All</a></li>
        <% types.forEach(function(type){ %>
        <li><a href="#"><%= type.name %></a></li>


        <% }); %>
    </ul>
        </div>
    <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Rating <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">
                <span class=" rating fa fa-star"></span>
                <span class=" rating fa fa-star"></span>
                <span class=" rating fa fa-star"></span>
                <span class=" rating fa fa-star"></span>
                <span class=" rating fa fa-star"></span>
            </a></li>
        <li><a href="#">
                <span class=" rating fa fa-star"></span>
                <span class=" rating fa fa-star"></span>
                <span class=" rating fa fa-star"></span>
                <span class=" rating fa fa-star"></span>
                <span class=" rating fa fa-star-o"></span>
            </a></li>
        <li><a href="#">
                <span class=" rating fa fa-star"></span>
                <span class=" rating fa fa-star"></span>
                <span class=" rating fa fa-star"></span>
                <span class=" rating fa fa-star-o"></span>
                <span class=" rating fa fa-star-o"></span>
            </a></li>
        <li><a href="#">
                <span class=" rating fa fa-star"></span>
                <span class=" rating fa fa-star"></span>
                <span class=" rating fa fa-star-o"></span>
                <span class=" rating fa fa-star-o"></span>
                <span class=" rating fa fa-star-o"></span></a></li>
        <li><a href="#">
                <span class=" rating fa fa-star"></span>
                <span class=" rating fa fa-star-o"></span>
                <span class=" rating fa fa-star-o"></span>
                <span class=" rating fa fa-star-o"></span>
                <span class=" rating fa fa-star-o"></span>
            </a></li>
    </ul>
        </div>
    <div class="btn-group" role="group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Effect <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
        </div>
</div>

                   <div class="btn-group pull-right" role="group">
                       <button type="button" class="btn btn-success">Add effect</button>
               </div>
               
               
                <div class="row">
                 <% effects.forEach(function(effect){
                    %>
                    <div class="ef-item col-md-4">
                      <div class="ef-item-inner">
                        <div class="panel">
                          <div class="panel-heading">
                            <h3 class="panel-title ef-name"><%= effect.name %></h3>
                        <div class="ef-rating">
                           <% if(effect.rating == -1){ %>
                                <span>No rating</span>
                            <% } else { 
                                var count = 0;
                                for(var i=0;i< parseInt(effect.rating);i++){
                                count++;
                            %>
                            <span class=" rating fa fa-star"></span>
                    
                            <%
                                }
                            if(effect.rating % 1 > 0.25 && effect.rating % 1 < 0.75){
                                count++;
                            %>
                            <span class="rating fa fa-star-half-empty"></span>
                            <%
                            }
                            while(count < 5){
                                count++;
                            %>
                            <span class="rating fa fa-star-o"></span>
                            <%
                            }
                            }
                            %>
                        </div>
                        </div>
                        <div class="panel-body">
                        <div class="ef-description"><%= effect.description %></div>
                        <div class="ef-type"><%= effect.type %></div>
                        <div class="ef-author"><span class="glyphicon glyphicon-user">  </span><%= effect.author %></div>
                        </div>
</div>
                        </div>
                    </div>
                    


                    <% }); %>
                </div>
            </div>
        </section>
    </div>
   
   
   
   
   
   <!--
    <table class="table">
        <tr>
            <th>Name</th>  
            <th>Description</th>
            <th>Type</th>
            <th>Author</th>
            <th>Rating</th>
            <th>Download</th>
        </tr>
        
        <% effects.forEach(function(effect){ %> 
            <tr>
                <td><%= effect.name %></td>
                <td><%= effect.description %></td>
                <td><%= effect.type %></td>   
                <td><%= effect.author %></td>
                <td><%  
                    var count = 0;
                    for(var i=0;i< parseInt(effect.rating);i++){
                        count++;
                    %>
                    <span class=" rating fa fa-star"></span>
                    
                    <%
                    }
                    if(effect.rating % 1 > 0.25 && effect.rating % 1 < 0.75){
                        count++;
                        %>
                            <span class="rating fa fa-star-half-empty"></span>
                        <%
                    }
                    while(count < 5){
                        count++;
                        %>
                            <span class="rating fa fa-star-o"></span>
                        <%
                    }
                %></td>
            </tr> <% }); %>
    </table>-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="../javascript/script.js"></script>
</body>
</html>


