<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>

<body>

<header>
    <% include ../partials/header.ejs%>
</header>

<div class="agpcontainer">
    <section id="ef-effects" class="page">


        <% if(isLoggedIn){ %>
        <div id="chat">
            <div id="chatDiv">
                <h3>Talk about effects! </h3>
                <p>People online: </p>
                <div id="messagesDiv">
                    <ul id="messages">
                    </ul>
                </div>
                <form id="chatForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" id="m" class="form-control" placeholder="Write your message..." required/>
                    </div>
                    <button type="submit" class="btn btn-default" id="sendMessageButton">
                        <span class="glyphicon glyphicon-send"></span>
                    </button>
                </form>
            </div>
        </div>
        <%}%>

        <div class="ef-inner">
            <div class="row">


                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Types <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">All</a></li>
                        <% types.forEach(function(type){ %>
                        <li><a href="#"><%= type.name %></a></li>


                        <% }); %>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Rating <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">
                                <span class=" rating fa fa-star"></span>
                                <span class=" rating fa fa-star"></span>
                                <span class=" rating fa fa-star"></span>
                                <span class=" rating fa fa-star"></span>
                                <span class=" rating fa fa-star"></span>
                            </a></li>
                        <li><a href="#">
                                <span class=" rating fa fa-star"></span>
                                <span class=" rating fa fa-star"></span>
                                <span class=" rating fa fa-star"></span>
                                <span class=" rating fa fa-star"></span>
                                <span class=" rating fa fa-star-o"></span>
                            </a></li>
                        <li><a href="#">
                                <span class=" rating fa fa-star"></span>
                                <span class=" rating fa fa-star"></span>
                                <span class=" rating fa fa-star"></span>
                                <span class=" rating fa fa-star-o"></span>
                                <span class=" rating fa fa-star-o"></span>
                            </a></li>
                        <li><a href="#">
                                <span class=" rating fa fa-star"></span>
                                <span class=" rating fa fa-star"></span>
                                <span class=" rating fa fa-star-o"></span>
                                <span class=" rating fa fa-star-o"></span>
                                <span class=" rating fa fa-star-o"></span></a></li>
                        <li><a href="#">
                                <span class=" rating fa fa-star"></span>
                                <span class=" rating fa fa-star-o"></span>
                                <span class=" rating fa fa-star-o"></span>
                                <span class=" rating fa fa-star-o"></span>
                                <span class=" rating fa fa-star-o"></span>
                            </a></li>
                        <li><a href="#">
                                Any rating
                            </a></li>
                    </ul>
                </div>

                <div class="btn-group pull-right" role="group">
                    <button type="button" class="btn btn-success">Add effect</button>
                </div>
            </div>




            <div class="row ef-item-container">
                <% effects.forEach(function(effect){
                %>
                <div class="ef-item col-md-4">
                    <div class="ef-item-inner">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title ef-name"><%= effect.name %></h3>
                                <div class="ef-rating">
                                    <% if(effect.rating == -1){ %>
                                    <span>No rating</span>
                                    <% } else {
                                        var count = 0;
                                    for(var i=0;i< parseInt(effect.rating);i++){
                                        count++;
                                    %>
                                    <span class=" rating fa fa-star"></span>

                                    <%
                                    }
                                    if(effect.rating % 1 > 0.25 && effect.rating % 1 < 0.75){
                                        count++;
                                    %>
                                    <span class="rating fa fa-star-half-empty"></span>
                                    <%
                                    }
                                            while(count < 5){
                                        count++;
                                    %>
                                    <span class="rating fa fa-star-o"></span>
                                    <%
                                    }
                                    }
                                    %>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="ef-description"><%= effect.description %></div>
                                <div class="ef-type"><%= effect.type %></div>
                                <div class="ef-author"><span class="glyphicon glyphicon-user">  </span><%= effect.author %></div>
                            </div>
                        </div>
                    </div>
                </div>



                <% }); %>
            </div>
        </div>
    </section>
</div>





<!--
    <table class="table">
        <tr>
            <th>Name</th>  
            <th>Description</th>
            <th>Type</th>
            <th>Author</th>
            <th>Rating</th>
            <th>Download</th>
        </tr>
        
        <% effects.forEach(function(effect){ %> 
            <tr>
                <td><%= effect.name %></td>
                <td><%= effect.description %></td>
                <td><%= effect.type %></td>   
                <td><%= effect.author %></td>
                <td><%
    var count = 0;
for(var i=0;i< parseInt(effect.rating);i++){
    count++;
%>
                    <span class=" rating fa fa-star"></span>
                    
                    <%
}
if(effect.rating % 1 > 0.25 && effect.rating % 1 < 0.75){
    count++;
%>
                            <span class="rating fa fa-star-half-empty"></span>
                        <%
}
        while(count < 5){
    count++;
%>
                            <span class="rating fa fa-star-o"></span>
                        <%
}
%></td>
            </tr> <% }); %>
    </table>-->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="../javascript/script.js"></script>

<script src="/socket.io/socket.io.js" ></script>

</body>
</html>


