<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>

<body>

<header>
    <% include ../partials/header.ejs%>
</header>

<div class="container" id="profile-container">

    <section id="profile-column">
        <div id="profile-div">
            <div id="userPicture">
            <a href="<%= user.profileUrl%>"><img class="img" src="<%=user.photo%>"/></a>
            <h3 id="titleName"><%=user.name%></h3>
            </div>
            <div id="userProps">
            <h4><span class="glyphicon glyphicon-envelope profile-icon" aria-hidden="true"></span><%= user.email%></h4>
            <h4><span class="glyphicon glyphicon-user profile-icon" aria-hidden="true"></span><%= user.gender%></h4>
            </div>
            <div id="totalEffects">
                <h3><%= myEffects.length%></h3>
                <h4>Effects</h4>
            </div>
        </div>
    </section>

    <section id="profile-effects">
        <div id="effects">
            <h3>My effects</h3>

        </div>
    </section>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="../javascript/script.js"></script>

</body>
</html>